<app-menu [loggedInUser]="loggedInUser"></app-menu>
<div class="MainContent form-horizontal">

	<div>
		<span class="PageTitle">Purchase Request Detail</span>
		<span class="CreateNew"><a routerLink="/purchaseRequests/add">Add New</a></span>
	</div>

	<div *ngIf="purchaseRequest == null">Searching...</div>

	<div *ngIf="purchaseRequest">

		<table class="table">
			<tr><th>Description</th><td>{{purchaseRequest.Description}}</td></tr>
			<tr><th>Justification</th><td>{{purchaseRequest.Justification}}</td></tr>
			<tr><th>Rejection Reason</th><td>{{purchaseRequest.RejectionReason}}</td></tr>
			<tr><th>Delivery Mode</th><td>{{purchaseRequest.DeliveryMode}}</td></tr>
			<tr><th>Date Needed</th><td>{{purchaseRequest.DateNeeded | date:'M/d/y'}}</td></tr>
			<tr><th>Status</th><td>{{purchaseRequest.Status}}</td></tr>
			<tr><th>Total</th><td>{{purchaseRequest.Total}}</td></tr>
			<tr><th>User</th><td>{{purchaseRequest.User.UserName}}</td></tr>
			<tr><th>Submitted Date:</th><td>{{purchaseRequest.SubmittedDate | date:'M/d/y'}}</td></tr>
		</table>

		<div class="text-center">
			<span *ngIf="purchaseRequest.Status === 'New' || purchaseRequest.Status === 'Rejected'"><button class="btn btn-success" (click)="review()">Mark for Review</button> |</span>
			<button class="btn btn-warning" (click)="edit()">Edit</button> |
			<button class="btn btn-danger" (click)="toggleVerifyDelete()">Delete</button>
			<span *ngIf="verifyDelete"> | <button class="btn btn-danger" (click)="remove()">Verify</button></span>
		</div>

	</div>

</div>