<app-menu [loggedInUser]="loggedInUser"></app-menu>
<div class="MainContent form-horizontal">

	<div>
		<span class="PageTitle">Purchase Request Lines</span>
		<span class="CreateNew" *ngIf="purchaseRequestAndLines">
			<a routerLink="/purchaseRequestLineItems/add/{{purchaseRequestAndLines.PurchaseRequest.Id}}">Add New</a>
		</span>
	</div>

	<table class="table" *ngIf="purchaseRequestAndLines">
		<tr>
			<th>Description</th>
			<th>Status</th>
			<th>Total</th>
		</tr>
		<tr>
			<td>{{purchaseRequestAndLines.PurchaseRequest.Description}}</td>
			<td>{{purchaseRequestAndLines.PurchaseRequest.Status}}</td>
			<td>{{purchaseRequestAndLines.PurchaseRequest.Total | currency:'USD':true}}</td>
		</tr>
		<tr>
			<th>Product</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Subtotal</th>
		</tr>
		<tr *ngFor="let purchaseRequestLineItem of purchaseRequestAndLines.PurchaseRequestLineItems">
			<td>{{purchaseRequestLineItem.Product.Name}}</td>
			<td>{{purchaseRequestLineItem.Quantity}}</td>
			<td>{{purchaseRequestLineItem.Product.Price | currency:'USD':true}}
			<td>{{purchaseRequestLineItem.Quantity * purchaseRequestLineItem.Product.Price | currency:'USD':true}}
			<td>
				<span><a routerLink="/purchaseRequestLineItems/detail/{{purchaseRequestLineItem.Id}}"><span class="glyphicon glyphicon-list-alt" title="Detail"></span></a></span>
				<span><a routerLink="/purchaseRequestLineItems/edit/{{purchaseRequestLineItem.Id}}"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a></span>
			</td>
		</tr>
	</table>
</div>