<div class="form-horizontal" style="margin: 20px;">

	<div class="pageTitle"><span>Login</span></div>

	<div style="">

	<form style="width: 60%; border: 1px solid silver; margin: 0 auto; padding: 10px 0;">

	<div class='form-group' style="width: 80%; margin: 0 auto;" >
		<label class='control-label' for="user-user-name">User name</label>
		<div class=''>
			<input class='form-control' name='UserName' type='text' id='user-user-name' 
				[(ngModel)]='username' placeholder="User Name">
		</div>
	</div>

	<div class='form-group' style="width: 80%; margin: 0 auto;" >
		<label class='control-label' for="user-password">Password</label>
		<div class=''>
			<input class='form-control' name='Password' type='Password' id='user-password' 
				[(ngModel)]='password' placeholder="Password">
		</div>
	</div>

	<div><p></p></div>

	<div class='form-group text-center' style="width: 80%; margin: 0 auto;" >
		<button (click)='login()' id='login' class=' btn btn-primary'>Login</button>
	</div>

	<div class='form-group' style="width: 80%; margin: 0 auto;" >
		<label class='text-left'>{{message}}&nbsp;</label>
	</div>

	</form>

	</div>
</div>