<app-menu [loggedInUser]="loggedInUser"></app-menu>
<h2>About</h2>
<p>This is the Purchase Request System project that was completed at MAX Technical Training during 
the .NET bootcamp.  The purpose of this project was to provide the aspiring developers with the
opportunity to develop a full-stack project (database, back-end, front-end).</p>
<br>

<p>This particular version of the project was developed around a scenario in which an individual at a business
needs to purchase items needed for the business to run.  A user may submit a request to purchase an item or
set of items, and then an individual with "reviewer" rights (who is not the same invidual as the initial user),
may either approve or reject the request.</p>
<!-- <app-menu></app-menu>
<img src="../../assets/smile.png">
<h2>Hello, world!</h2>
<p>
  My name is Eric Bambach, and I am an aspiring .NET developer.<br>
  After coding for several years as a supplement to my teaching<br>
  work, I am working to transition into the field as a professional.<br>
</p>
<h3>How I got here</h3>
<p>
	Prior to this change, I worked as a middle school teacher, during which time, <br>
	I frequently augmented my PowerPoint presentations with Visual Basic for Applications <br>
	(VBA) macros.  This allowed me to incorportate more interactive content into lessons, <br>
	allowing students to take a more active role in their education.<br>
	<br>
	
</p> -->