<app-menu [loggedInUser]="loggedInUser"></app-menu>
<div class="MainContent form-horizontal" >

	<div class="pageTitle">
		<span>Product Detail</span>
		<span class="CreateNew"><a routerLink="/products/add">Add New</a></span>
	</div>

	<div *ngIf="product == null">Searching...</div>

	<div *ngIf="product">

		<table class="table">
			<tr><th>Name</th><td>{{product.Name}}</td></tr>
			<tr><th>Vendor Part Number</th><td>{{product.VendorPartNumber}}</td></tr>
			<tr><th>Price</th><td>{{product.Price | currency:"USD":true }}</td></tr>
			<tr><th>Unit</th><td>{{product.Unit}}</td></tr>
			<tr><th>Photopath:</th><td><a href="{{product.Photopath}}" target="_blank"><img src="../../assets/image.png" height="25" width="25"></a></td></tr>
			<tr><th>Vendor</th><td>{{product.Vendor.Name}}</td></tr>
		</table>

		<div class="text-center">
			<button class="btn btn-warning" (click)="edit()">Edit</button> |
			<button class="btn btn-danger" (click)="toggleVerifyDelete()">Delete</button>
			<span *ngIf="verifyDelete"> | <button class="btn btn-danger" (click)="remove()">Verify</button></span>
		</div>

	</div>

</div>