<app-menu></app-menu>
<div class="form-horizontal" style="margin: 20px auto; width:70%;">
	
	<div style="text-align: center;"><span class="PageTitle">Add a Product</span></div>
	<div style="text-align: center;">
	<!-- This tag lets the product hit "enter" instead of actually clicking the button -->
	<form *ngIf="product" style="display: inline-block; width: 50%; padding: 30px 30px 0 0; border: 1px solid silver;">

	<div class='form-group' >
		<label class='col-md-3  control-label' for="product-name">Name</label>
		<div class='col-md-9'>
			<input class='form-control' name='Name' type='text' id='product-name' 
				[(ngModel)]='product.Name' placeholder="Name">
		</div>
	</div>

	<div class='form-group' >
		<label class='col-md-3  control-label' for="product-vendor-part-number">Vendor Part Number</label>
		<div class='col-md-9'>
			<input class='form-control' name='Vendor-Part-Number' type='text' id='product-vendor-part-number' 
				[(ngModel)]='product.VendorPartNumber' placeholder="Vendor Part Number">
		</div>
	</div>

	<div class='form-group' >
		<label class='col-md-3  control-label' for="product-price">Price</label>
		<div class='col-md-9'>
			<input class='form-control' name='Price' type='text' id='product-price' 
				[(ngModel)]='product.Price' placeholder="Price">
		</div> 
	</div>

	<div class='form-group' >
		<label class='col-md-3  control-label' for="product-Unit">Unit</label>
		<div class='col-md-9'>
			<input class='form-control' name='Unit' type='text' id='product-Unit' 
				[(ngModel)]='product.Unit' placeholder="Unit">
		</div>
	</div>

	<div class='form-group' >
		<label class='col-md-3  control-label' for="product-Photopath">Photopath</label>
		<div class='col-md-9'>
			<input class='form-control' name='Photopath' type='text' id='product-Photopath' 
				[(ngModel)]='product.Photopath' placeholder="Photopath">
		</div>
	</div>

	<div class='form-group' >
		<label class='col-md-3  control-label' for="product-Vendor">Vendor</label>
		<div class='col-md-9'>
			<!-- Instead of allowing the user to type in a Vendor, here we use the VendorId
			to display the each "vendor of vendors" in a drop down list -->
			<select [(ngModel)]='product.VendorId' class='form-control' name='Vendor' id='product-Vendor'>
				<option *ngFor="let vendor of vendors" [ngValue]="vendor.Id">{{vendor.Name}}</option>
			</select>
		</div>
	</div>

	<div class='form-group'>
		<button (click)='add()' id='add' class='col-md-11 col-md-offset-1 btn btn-primary'>Add</button>
	</div>

	<div class='form-group' >
		<label class='col-md-10 col-md-offset-1 text-left'>{{message}}&nbsp;</label>
	</div>

	</form>

	</div>
</div>