<app-menu [loggedInUser]="loggedInUser"></app-menu>
<div id="firstDivAddEditList" class="MainContent form-horizontal" >

	<div class="pageTitle">
		<span>Products</span>
		<span class="CreateNew"><a routerLink="/products/add">Add New</a></span>
	</div>

	<table class="table" *ngIf="products">
		<tr>
			<th>Name</th>
			<th>Vendor Part Number</th>
			<th>Price</th>
			<!-- <th>Unit</th> -->
			<th>Photo</th>
			<th>Vendor</th>
			<th>Actions</th>
		</tr>
		<tr *ngFor="let product of products">
			<td>{{product.Name}}</td>
			<td>{{product.VendorPartNumber}}</td>
			<td>{{product.Price | currency:'USD':true}}</td>
			<!-- <td>{{product.Unit}}</td> -->
			<td><a href="{{product.Photopath}}" target="_blank"><img src="../../assets/image.png" height="25" width="25" ></a></td>
			<td>{{product.Vendor.Name}}</td>
			<td>
				<span><a routerLink="/products/detail/{{product.Id}}">Details</a></span>
				<span><a routerLink="/products/edit/{{product.Id}}">Edit</a></span>
			</td>
		</tr>
	</table>
</div>