<app-menu [loggedInUser]="loggedInUser"></app-menu>
<div class="MainContent form-horizontal" >

	<div class="pageTitle"><span>Purchase Request Review</span></div>

	<div style="text-align: center;">

	<form *ngIf="purchaseRequestAndLines && loggedInUser" style="display: inline-block; width: 70%; padding: 30px 30px 0 0; border: 1px solid silver;">

	<!-- <div class='form-group' >
		<label class='col-md-3  control-label' for="purchaseRequest-Description">Description</label>
		<div class='col-md-9'>
			<input class='form-control' name='Description' type='text' id='purchaseRequest-Description' 
				[(ngModel)]='purchaseRequestAndLines.PurchaseRequest.Description' placeholder="Description">
		</div>
	</div>

	<div class='form-group' >
		<label class='col-md-3  control-label' for="purchaseRequest-Justification">Justification</label>
		<div class='col-md-9'>
			<input class='form-control' name='Justification' type='text' id='purchaseRequest-Justification' 
				[(ngModel)]='purchaseRequestAndLines.PurchaseRequest.Justification' placeholder="Justification">
		</div>
	</div> -->

	<div class='form-group' >
		<label class='col-md-3  control-label' for="purchaseRequest-RejectionReason">Rejection Reason</label>
		<div class='col-md-9'>
			<input class='form-control' name='RejectionReason' type='text' id='purchaseRequest-RejectionReason' 
				[(ngModel)]='purchaseRequestAndLines.PurchaseRequest.RejectionReason' placeholder="Rejection Reason">
		</div>
	</div>

	<!-- <div class='form-group' >
		<label class='col-md-3  control-label' for="purchaseRequest-DeliveryMode">Delivery Mode</label>
		<div class='col-md-9'>
			<input class='form-control' name='DeliveryMode' type='text' id='purchaseRequest-DeliveryMode' 
				[(ngModel)]='purchaseRequestAndLines.PurchaseRequest.DeliveryMode' placeholder="DeliveryMode">
		</div>
	</div>

	<div class='form-group' >
		<label class='col-md-3  control-label' for="purchaseRequest-DateNeeded">Date Needed</label>
		<div class='col-md-9'>
			<input class='form-control' name='DateNeeded' type='text' id='purchaseRequest-DateNeeded' 
				value='{{purchaseRequestAndLines.PurchaseRequest.DateNeeded | date:"M/d/y"}}' placeholder="DateNeeded">
		</div>
	</div>

	<div class='form-group' >
		<label class='col-md-3  control-label' for="purchaseRequest-Status">Status</label>
		<div class='col-md-9'>
			<input class='form-control' name='Status' type='text' id='purchaseRequest-Status' 
				[(ngModel)]='purchaseRequestAndLines.PurchaseRequest.Status' placeholder="Status" readonly>
		</div>
	</div>

	<div class='form-group' >
		<label class='col-md-3  control-label' for="purchaseRequest-Total">Total</label>
		<div class='col-md-9'>
			<input class='form-control' name='Total' type='text' id='purchaseRequest-Total' 
				[(ngModel)]='purchaseRequestAndLines.PurchaseRequest.Total' placeholder="Total" readonly>
		</div>
	</div>

	<div class='form-group'>
		<label class='col-md-3  control-label' for="purchaseRequest-UserId">User</label>
		<div class='col-md-9'>
			<input class='form-control' name='User' type='text' id='purchaseRequest-User' 
				[(ngModel)]='purchaseRequestAndLines.PurchaseRequest.User.UserName' placeholder="User" readonly >			
		</div>
	</div>

	<div class='form-group' >
		<label class='col-md-3  control-label' for="purchaseRequest-SubmittedDate">Date Submitted</label>
		<div class='col-md-9'>
			<input class='form-control' name='SubmittedDate' type='text' id='purchaseRequest-SubmittedDate' 
				value='{{purchaseRequestAndLines.PurchaseRequest.SubmittedDate | date:"M/d/y"}}' placeholder="SubmittedDate" readonly>
		</div>
	</div> -->

	<table class="table" *ngIf="purchaseRequestAndLines">
		<tr>
			<th>Description</th>
			<th>Justification</th>			
		</tr>
		<tr>
			<td>{{purchaseRequestAndLines.PurchaseRequest.Description}}</td>
			<td>{{purchaseRequestAndLines.PurchaseRequest.Justification}}</td>
		</tr>
		<tr>
			<th>User</th>
			<th>Status</th>
			<th>Total</th>
		</tr>
		<tr>
			<td>{{purchaseRequestAndLines.PurchaseRequest.User.UserName}}</td>
			<td>{{purchaseRequestAndLines.PurchaseRequest.Status}}</td>
			<td>{{purchaseRequestAndLines.PurchaseRequest.Total | currency:'USD':true}}</td>
		</tr>
		<tr>
			<th>Product</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Subtotal</th>
		</tr>
		<tr *ngFor="let purchaseRequestLineItem of purchaseRequestAndLines.PurchaseRequestLineItems">
			<td>{{purchaseRequestLineItem.Product.Name}}</td>
			<td>{{purchaseRequestLineItem.Quantity}}</td>
			<td>{{purchaseRequestLineItem.Product.Price | currency:'USD':true}}
			<td>{{purchaseRequestLineItem.Quantity * purchaseRequestLineItem.Product.Price | currency:'USD':true}}
		</tr>
	</table>

	<div class='form-group'>
		<button (click)='approved()' id='approved' class='col-md-5 col-md-offset-1 btn btn-primary'>Approved</button>
		<button (click)='rejected()' id='rejected' class='col-md-5 col-md-offset-1 btn btn-danger'>Rejected</button>
	</div>

	<div class='form-group' >
		<label class='col-md-10 col-md-offset-1 text-left'>{{message}}&nbsp;</label>
	</div>

	</form>

	</div>
</div>