<app-menu [loggedInUser]="loggedInUser"></app-menu>
<div class="MainContent form-horizontal">

	<div>
		<span class="PageTitle">Purchase Requests</span>
		<span class="CreateNew"><a routerLink="/purchaseRequests/add">Add New</a></span>
	</div>

	<table class="table" *ngIf="purchaseRequests">
		<tr>
			<th>Description</th>
			<th>Delivery Mode</th>
			<th>DateNeeded</th>
			<th>Status</th>
			<th>Total</th>
			<th>User</th>
			<th>DateSubmitted</th>
			<th>Actions</th>
		</tr>
		<tr *ngFor="let purchaseRequest of purchaseRequests">
			<td>{{purchaseRequest.Description}}</td>
			<td>{{purchaseRequest.DeliveryMode}}</td>
			<td>{{purchaseRequest.DateNeeded | date:'M/d/y'}}</td>
			<td>{{purchaseRequest.Status}}</td>
			<td>{{purchaseRequest.Total | currency:"USD":true}}</td>
			<td>{{purchaseRequest.User.LastName}}</td>
			<td>{{purchaseRequest.SubmittedDate | date:'M/d/y'}}</td>
			<td>
				<span><a routerLink="/purchaseRequests/detail/{{purchaseRequest.Id}}">Details</a></span>
				<span><a routerLink="/purchaseRequests/edit/{{purchaseRequest.Id}}">Edit</a></span>
				<span><a routerLink="/purchaseRequestLineItems/{{purchaseRequest.Id}}">Items</a></span>
			</td>
		</tr>
	</table>
</div>