<app-menu [loggedInUser]="loggedInUser"></app-menu>
<div id="firstDivAddEditList" class="MainContent form-horizontal" >

	<div class="pageTitle">
		<span>Users</span>
		<span class="CreateNew"><a routerLink="/users/add">Add New</a></span>
	</div>

	<table class="table" *ngIf="users">
		<tr>
			<th>Name</th>
			<th>User name</th>
			<th>Phone</th>
			<th>Email</th>
			<th>Reviewer</th>
			<th>Admin</th>
			<th>Actions</th>
		</tr>
		<tr *ngFor="let user of users">
			<td>{{user.FirstName}} {{user.LastName}}</td>
			<td>{{user.UserName}}</td>
			<td>{{user.Phone}}</td>
			<td>{{user.Email}}</td>
			<td *ngIf="user.IsReviewer">Yes</td>
			<td *ngIf="!user.IsReviewer">&nbsp;</td>
			<td *ngIf="user.IsAdmin">Yes</td>
			<td *ngIf="!user.IsAdmin">&nbsp;</td>
			<td>
				<span><a routerLink="/users/detail/{{user.Id}}">Details</a></span>
				<span><a routerLink="/users/edit/{{user.Id}}">Edit</a></span>
			</td>
		</tr>
	</table>
</div>